.product-image {
  background-image: url("../images/image-product-1.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20rem;

  .product-image-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    cursor: pointer;
    transition: 0.3s ease;

    .previousImage {
      border-radius: 50%;
      padding: 1rem 1rem;
      background-color: $white;
      &:hover {
        background-color: $black-75;
      }
    }

    .nextImage {
      border-radius: 50%;
      padding: 1rem 1rem;
      background-color: $white;
      &:hover {
        background-color: $black-75;
      }
    }
    .product-image img {
      background-color: $white;
      border-radius: 50%;
      max-width: 100%;
      padding: 1rem;
    }
  }
}
